*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body { 
    overflow-x: hidden;
}

h1 {
    font-family: 'Pluto Sans', sans-serif;
    font-size: 50px;
    font-weight: bolder;
    // margin-left: 50px;
}



p {
    font-size: 18px;
    font-weight: bold;
}