@import "base";
@import "mixins";
@import "variables";

.header {
  position: fixed;
  width: 100vw;
  height: 90px;
  left: 0;
  top: 0%;
  margin-top: 0;

  .navbar {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;

    .navbar-logo {
      display: flex;
      align-items: center;

      img {
        height: 65px;
      }
    }

    .navbar-menu {
      @include reset-list;
      display: flex;
      align-items: center;

      li {
        display: block;
        height: 34px;
        margin: 0 17px;
        padding: 7px 0;

        &:hover {
          border-bottom: 2px solid $color-secondary;
        }
      }

      a {
        padding: 7px 0;
        font-size: 15px;
        font-weight: 500;
        text-decoration: none;
        color: rgb(47, 46, 44);

        &:hover {
          color: $color-secondary;
        }
      }
    }

    .navbar-menu-hamburger {
      display: none;

      #checkbox-menu {
        position: absolute;
        opacity: 0;

        &:checked + label span:nth-child(1) {
          transform: rotate(-45deg);
          top: 8px;
        }

        &:checked + label span:nth-child(2) {
          opacity: 0;
        }

        &:checked + label span:nth-child(3) {
          transform: rotate(45deg);
          top: 8px;
        }
      }

      label {
        cursor: pointer;
        position: relative;
        display: block;
        height: 22px;
        width: 30px;

        span {
          position: absolute;
          display: block;
          height: 5px;
          width: 100%;
          border-radius: 30px;
          background: #f16234;
          transition: 0.25s ease-in-out;

          &:nth-child(1) {
            top: 0;
          }

          &:nth-child(2) {
            top: 8px;
          }

          &:nth-child(3) {
            top: 16px;
          }
        }
      }
    }

    .navbar-button {
      width: 250px;
      height: 47px;
      margin-top: 22.5px;
      border: none;
      border-radius: 30px;
      background-color: $color-secondary;
      font-size: 15px;
      color: white;
    }
  }
  .menu {
    display: none;
    width: 100vw;
    background-color: white;
    padding: 5px 0 0 20px;
    line-height: 35px;

    a {
      text-decoration: none;
      color: black;

      &:hover {
        color: $color-secondary;
      }
    }

    li {
      @include reset-list;
    }
  }
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100vw;
  height: 150vh;
  margin-top: 0;
  background-image: url(../image/bg-banner-g.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  h1 {
    width: 600px;
    padding-bottom: 13px;
    color: $color-secondary;
  }

  p {
    width: 600px;
    font-weight: 400;
    color: $color-secondary;
  }
}

.about {
  width: 100vw;
  margin-bottom: 20px;

  .container {
    display: flex;
    justify-content: space-around;

    .about-text {
      width: 570px;
      margin-top: 120px;
      padding: 20px 10px;

      h4 {
        color: $color-secondary;
        letter-spacing: 5.77px;
      }

      h2 {
        margin: 15px 0;
      }

      p {
        margin-bottom: 15px;
        font-size: 15px;
        font-weight: 300;
        color: #6f6f6f;
      }
    }

    .about-image {
      width: 570px;
      height: 710px;
      margin-top: 120px;
      text-align: center;

      img {
        width: 550px;
      }
    }
  }
}

.structure {
  width: 100vw;
  background-color: #faf8f4;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .structure-text {
      width: 570px;
      margin-top: 120px;
      padding: 20px 10px;
      text-align: center;

      h4 {
        color: $color-secondary;
        letter-spacing: 5.77px;
      }

      h2 {
        margin: 15px 0;
      }

      p {
        font-size: 15px;
        font-weight: 300;
        color: #6f6f6f;
        text-align: justify;
      }
    }

    .structure-images {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 900px;
      height: 100vh;
      margin: 40px auto;
      align-items: center;

      div {
        margin: 6px;
        width: 32%;

        img {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 1150px) {
  .navbar-button {
    display: none;
  }

  .banner {
    height: 100vh;
    align-items: center;
    text-align: center;
  }

  .about {
    height: 1550px;

    .container {
      width: 100vw;
      flex-direction: column;

      .about-text {
        width: 100%;
        text-align: center;
        margin-top: 100px;

        h4 {
          -webkit-text-stroke-width: 0.5px; /* largura da borda */
          -webkit-text-stroke-color: $color-secondary; /* cor da borda */
        }

        h2 {
          font-size: 32px;
        }

        p {
          text-align: justify;
        }
      }

      .about-image {
        margin-top: 0;
        width: 100%;
        height: 565px;

        img {
          width: 100%;
        }
      }
    }
  }

  .structure {
    height: 1450px;

    .container {
      width: 100vw;
      flex-direction: column;

      .structure-text {
        width: 100%;
        text-align: center;
        margin-top: 95px;

        h4 {
          -webkit-text-stroke-width: 0.5px; /* largura da borda */
          -webkit-text-stroke-color: $color-secondary; /* cor da borda */
        }

        h2 {
          font-size: 32px;
        }

        p {
          text-align: justify;
        }
      }

      .structure-images {
        margin-top: 0;
        width: 100%;
        height: 1200px;

        div {
          width: 45%;
          img {
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    .navbar {
      justify-content: space-between;
      padding: 0 15px;

      .navbar-menu {
        display: none;
      }

      .navbar-menu-hamburger {
        display: flex;
        align-items: center;
      }
    }
  }

  .banner {
    background-image: url(../image/bg-banner-p.jpg);
    background-size: cover;
  }

  .about {
    height: 1550px;
    .container {
      .about-text {
        margin-top: 30px;
        padding-top: 80px;
      }
    }
  }

  .structure {
    .container {
      .structure-text {
        margin-top: 70px;
      }

      .structure-images {
        height: 1250px;

        div {
          width: 49%;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .banner {
    height: 95vh;
    background-image: url(../image/bg-banner-p.jpg);

    h1 {
      width: 100%;
      font-size: 36px;
      color: $color-secondary;
      -webkit-text-stroke-width: 1px; /* largura da borda */
      -webkit-text-stroke-color: $color-secondary; /* cor da borda */
    }

    p {
      width: 100%;
      font-size: 16px;
      font-weight: bolder;
      color: $color-secondary;
      -webkit-text-stroke-width: 0.5px; /* largura da borda */
      -webkit-text-stroke-color: $color-secondary; /* cor da borda */
      padding: 0 7px;
    }
  }

  .about {
    height: 1300px;
    margin-top: -50px;
  }

  .structure {
    height: 950px;
    margin-top: -50px;

    .container {
      height: 940px;

      .structure-text {
        margin-top: 80px;
      }

      .structure-images {
        height: 650px;
        // flex-wrap: nowrap;

        div {
          width: 45%;
        }
      }
    }
  }
}
